<h1 class="pb-4">All recipes</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" style="text-decoration: none;">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Recipes
            <% if(recipes != '') { %>
                (<%= recipes.length %>)
            <% } %>
          
        </li>
    </ol>
  </nav>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(recipes != '') { %>
        <% recipes.forEach(function(recipeItem, index){ %>
            <a href="/recipe/<%= recipeItem._id %>" class="col text-center category_link">
                <div class="category_img category_img--large shadow">
                    <img src="/uploads/<%= recipeItem.image %>" alt="<%= recipeItem.name %>" loading="lazy">
                </div>
                <div class="pt-1">
                    <%= recipeItem.name %>
                </div>
            </a>
            <% }) %>
    <% } else { %>
    <p>No items found.</p>
    <% } %>
</div>